* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --success-color: green;
    --danger-color: red;
    --info-color: yellow;
}